env
src/main/python/package/__pycache__
/Users/user/Documents/DEV/CROP-DETECT_DEPLOIEMENT_GITHUB/CropDetect/target/CropDetect
/Users/user/Documents/DEV/CROP-DETECT_DEPLOIEMENT_GITHUB/CropDetect/target/CropDetect.app
/Users/user/Documents/DEV/CROP-DETECT_DEPLOIEMENT_GITHUB/CropDetect/target/PyInstaller
/Users/user/Documents/DEV/CROP-DETECT_DEPLOIEMENT_GITHUB/CropDetect/target/CropDetect.dmg

